:root {
  --grey: #f6f6f6;
  --dark-grey: #dedede;
  --input-text: #6b6b6b;
  --dark-blue: #337ab7;
  --light-blue: #d9edf7;
}

.error-message {
  color: red;
}

.sign-up {
  margin-left: auto;
  margin-right: auto;
  padding: 20rem 32rem 10rem 32rem;

  .su-header {
    font-weight: 600;
    font-size: 5rem;
  }

  .horizontal-line {
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .su-form {
    box-shadow: 0 0.5em 0.5em -0.4em #014580; /* Add transparent box shadow */

    border-radius: 20px;
    padding: 3.5rem;
    background-image: url("/img/bg2.png");

    .su-checkbox {
      margin-right: 0.5rem;
    }
  }

  .su-info-input {
    margin-bottom: 2rem;

    .su-info {
      font-weight: 500;
      font-size: 1.5rem;
      margin-bottom: 0.8rem;
      color: #002f58;
    
    }

    .su-input {
      border-radius: 8px;
      width: 100%;
      height: 3.5rem;
      font-size: 1.3rem;
      color: var(--input-text);
      padding: 0.7rem;
      box-shadow: 0 0.5em 0.5em -0.4em #0d74cf; /* Add transparent box shadow */
    }
  }

  .su-text {
    font-size: 1.8rem;
  }

  .su-button {
    width: 15vw;
    border-radius: 15px;
    border: 1px solid transparent;
    text-transform: uppercase;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    background: #0a4f8b;
    color: #fff;
    font-weight: 700;
    transition: color 0.3s ease, background-color 0.3s ease,
      border-color 0.3s ease;

    &:hover {
      border: 1px solid #044985;
      box-shadow: 0 0.5em 0.5em -0.4em #0d74cf; /* Add transparent box shadow */
      color: #0a4f8b;
      font-weight: 700;
      background-color: #fff;
      border-color: #0a4f8b;
      transform: translateY(-0.25em);
      transition: transform 0.3s ease; /* Add smooth transition */
    }
  }
}
