<div class="container">
  <div class="about-us">

    <section class="home-slider owl-carousel" style="height: 380px;">
      <div
        style="height: 300px; border-radius: 20px; background-image: url('img/banner-3.png')"
      >
      </div>
    </section>

    <section class="ftco-about" style="padding-top: 20px">
      <div classs="container">
        <div
          class="heading-section text-center ftco-animate"
          style="padding-bottom: 70px"
        >
          <h2 style="text-align: center; font-size: 50px;">| ABOUT OUR 2HANDBOOK</h2>
          <span class="subheading" style="color: black;">A treasure trove of
            learning materials.</span>
        </div>
        <div class="row" style="align-items: center;">
          <div class="col-4">
            <button class="gotoSectionButton" data-target="whoWeAre">Who we are</button>
          </div>
          <div class="col-4">
            <button class="gotoSectionButton" data-target="ourValues">Our values</button>
          </div>
          <div class="col-4">
            <button class="gotoSectionButton" data-target="ourOrganization">Our
              organization</button>
          </div>
        </div>
      </div>
    </section>

    <section id="targetSection" class="ftco-section" style="padding-top: 50px">
      <div class="container" style="text-align: center;">
        <section class="section" id="whoWeAre">
          <div class="heading-section text-md-center ftco-animate">
            <h2 class="mb-6">WHO WE ARE</h2>
            <span style="font-size:18px; font-weight:bold; color:black">Since
              2024, E-commerce platform for selling used books. Read well, live
              better.</span>
            <p style="font-style: italic; text-align: justify;">
              Welcome to 2HandBook!
            </p>
            <p class="mb-4" style="text-align: justify; color: black; ">We are
              an e-commerce platform dedicated to providing a vibrant experience
              for all book lovers. With a vast collection of used books, we
              strive to cater to the diverse interests of our customers. Whether
              you're an avid reader, a student seeking affordable books, or
              someone looking for hidden gems, our platform is the perfect place
              for you. Our dedicated team ensures that each book is carefully
              curated and listed, so you can easily find what you're looking
              for. We believe in the power of knowledge and the joy of sharing
              stories. Join us in this wonderful journey of discovery,
              inspiration, and lifelong learning. Explore our collection, engage
              with fellow book enthusiasts, and experience the magic of reading.
              Welcome to a world of endless possibilities on our e-commerce
              platform for used books!</p>
          </div>
        </section>
        <section class="section" id="ourValues">
          <div class="heading-section text-md-center ftco-animate">
            <h2
              class="mb-6"
              style="padding-bottom: 20px; padding-top: 50px;"
            >Our Values</h2>

            <div style="padding-bottom: 30px;">
              <h2 class="mb-6" style="font-size: 25px;">OUR PURPOSE</h2>
              <p style=" color:black">Connect book lovers with affordable,
                high-quality used books while fostering community and promoting
                reading joy.</p>
            </div>

            <div style="padding-bottom: 30px;">
              <h2 class="mb-6" style="font-size: 25px;">Our Vision</h2>
              <p style=" color:black">“Of the people, by the people, for the
                people”</p>
            </div>

            <div style="padding-bottom: 30px;">
              <h2 class="mb-6" style="font-size: 25px;">Our Mission</h2>
              <p class="mb-4" style="color: black;">The mission of 2HandBook is
                to build a robust and accessible online platform that
                facilitates the buying and selling of high-quality used books,
                thereby fostering a sustainable and inclusive community of
                passionate readers. We aim to provide a seamless experience for
                book enthusiasts to discover, share, and cherish the joy of
                reading while promoting environmental sustainability through the
                reuse of books.
              </p>
            </div>

            <div style="padding-bottom: 30px;">
              <h2 class="mb-6" style="font-size: 25px;">Our Values</h2>
              <div class="padding-bottom:30px">
                <span
                  style="font-weight: bold; font-style: italic; color:black"
                >Wealth of knowledge for the community.</span>
                <p class="mb-4" style="color: black;">Having access to a variety
                  of educational resources and expert guidance, the community is
                  blessed with a wealth of knowledge that empowers individuals
                  to grow and thrive.</p>
              </div>

              <div class="padding-bottom:30px">
                <span
                  style="font-weight: bold; font-style: italic; color:black"
                >Encouraging social innovation.
                </span>
                <p class="mb-4" style="color: black;">Empowering individuals
                  with the tools, resources, and support they need, encouraging
                  social innovation creates an environment where new ideas
                  flourish and positive change can be realized.
                </p>
              </div>

              <div class="padding-bottom:30px">
                <span
                  style="font-weight: bold; font-style: italic; color:black"
                >Listening and sympathy.
                </span>
                <p class="mb-4" style="color: black;">Listening attentively and
                  showing genuine sympathy, providing not just knowledge but
                  also emotional support to those seeking solace or guidance.
                </p>
              </div>

              <div class="padding-bottom:30px">
                <span
                  style="font-weight: bold; font-style: italic; color:black"
                >Diverse Selection.
                </span>
                <p class="mb-4" style="color: black;">At Used Books Emporium, we
                  value a wide range of perspectives and ideas, fostering an
                  environment where diverse voices are celebrated and critical
                  thinking is encouraged.
                </p>
              </div>

              <div class="padding-bottom:30px">
                <span
                  style="font-weight: bold; font-style: italic; color:black"
                >Digital Connectivity.
                </span>
                <p class="mb-4" style="color: black;">We empower our patrons to
                  navigate a vast digital landscape, fostering collaboration and
                  innovation in our interconnected platform.
                </p>
              </div>

              <div class="padding-bottom:30px">
                <span
                  style="font-weight: bold; font-style: italic; color:black"
                >Continuous Improvement.
                </span>
                <p class="mb-4" style="color: black;">We are committed to
                  enhancing our offerings, services, and facilities, ensuring
                  that our patrons have access to the best resources and
                  experiences to support their lifelong learning journey.
                </p>
              </div>

            </div>
            <div style="padding-bottom: 30px;">
              <h2 class="mb-6" style="font-size: 25px;">OUR SOCIAL COMMITMENT TO
                COMMON KNOWLEDGE</h2>
              <p class="mb-4" style="color: black; text-align: justify;">Our
                social commitment is to promote access to knowledge and foster a
                sense of community. We strive to make knowledge accessible to
                all, regardless of barriers or limitations. Together, we can
                shape a more enlightened and connected society.
              </p>
            </div>
          </div>
        </section>
        <section class="section" id="ourOrganization">

          <div class="heading-section text-md-center ftco-animate">
            <h2 class="mb-6" style="padding-top: 50px; padding-bottom:20px">OUR
              ORGANIZATION</h2>
            <div
              class="slider-item"
              style="background-size: cover; background-position: center center;height: 200px; background-image: url('/img/team.png')"
            ></div>
            <p
              class="mb-4"
              style="padding-top: 30px; text-align: justify; color: black;"
            >In its early days, 2HandBook is driven by a vision to
              connect book enthusiasts with a vast array of used books.
              Initially, our founding team led the establishment of our
              platform, setting it on a path of growth. Currently, an executive
              board oversees operations. Future plans involve forming a board of
              directors elected from our community. We're committed to
              innovation and fostering a culture of lifelong learning and
              connection.
            </p>
          </div>
        </section>
      </div>
    </section>
  </div>
</div>

<script>
  const gotoSectionButtons = document.querySelectorAll('.gotoSectionButton');
  gotoSectionButtons.forEach(button => { button.addEventListener('click', () =>
  { const target = button.getAttribute('data-target'); const targetSection =
  document.getElementById(target); if (targetSection) {
  targetSection.scrollIntoView({ behavior: 'smooth' }); } }); });
</script>